h1 {
  color: #6495ed;
  text-align: center;
  font-size: 65px;
  font-family: "Palatino", sans-serif;
  position: relative;
  margin-bottom: 10px;
  letter-spacing: 20px;
}
h2 {
  clear: left;
  padding-left: 50px;
}
h4 {
  padding: 0 50px;
  line-height: 1.2;
}
p {
  padding: 0 50px;
  line-height: 1.8;
}
body, html {
  font-family: Times;
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
}
table {
  border: 2px solid black;
  margin-left: 50px;
}
table th {
  padding: 5px;
}
#chicken {
  float: left;
  padding: 0 20px 50px 20px;
}
#egg {
  clear: left;
  padding-left: 20px;
  padding-top: 10px;
}
#sidebar {
  position: absolute;
  width: 200px;
  height: 100%;
  background: #9fc5c6;
  left: -200px;
  transition: all 500ms linear;
  top: 0;
  cursor: pointer;
}
#sidebar a {
  text-decoration: none;
  color: white;
}
#sidebar.active {
  left: 0;
}
#sidebar ul li {
  color: rgba(230,230,230,0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid grey;
}
#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}
#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}

#references ul li{
  margin-bottom: 10px;
  margin-left: 30px;
  list-style-type: square;
}

/*-------------footer------------*/
footer {
  width: 100%;
  background-color: #404040;
  padding: 30px 0;
  margin-top: 10%;
}
nav {
  float: left;
}
nav ul li {
  display: inline-block;
  margin-left: 30px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #f2f2f2;
}
.copyright {
  font-size: 15px;
  text-align: center;
}
