body {
  background-color: white;
}
body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 10px;
}
h1 {
  color: purple;
  text-align: center;
  font-size: 50px;
  font-family: "Palatino", sans-serif;
}
h3, h4 {
  font-family: Times;
  padding: 0 30px;
}
img {
  margin-left: 10px;
  border-radius: 5%;
  float: left;
  /*padding-right: 50px; */
}
.inner_info {
  margin-left: 450px;
  margin-right: 50px;
}
#sidebar {
  position: absolute;
  width: 200px;
  height: 100%;
  background: #9fc5c6;
  left: -200px;
  transition: all 500ms linear;
  top: 0;
  cursor: pointer;
}
#sidebar a {
  text-decoration: none;
  color: white;
  font-family: Times;
}
#sidebar.active {
  left: 0;
}
#sidebar ul li {
  color: rgba(230,230,230,0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid grey;
}
#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}
#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}
footer {
  width: 100%;
  background-color: #404040;
  padding: 30px 0;
  margin-top: 10%;
}
nav {
  float: left;
}
nav ul li {
  display: inline-block;
  margin-left: 30px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #f2f2f2;
}
.copyright {
  font-size: 15px;
  text-align: center;
}
#recipe_search {
  word-spacing: 20px;
  margin-left: 50px;
  font-size: larger;
} 
#recipe_search a {
  text-decoration: none;
}
#return_top {
  margin-left: 50px;
  margin-top: 100px;
}
.separator {
  margin-bottom: 20px;
  width: 50%;
  margin: 0 auto;
}
.line {
  border-bottom: 3px dotted grey;
  display: block;
}
